mixin head
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Practica02
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='site.webmanifest')
    link(rel='shortcut icon', type='image/x-icon', href='assets2/img/favicon.ico')
    // CSS here
    link(rel='stylesheet', href='assets2/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets2/css/owl.carousel.min.css')
    link(rel='stylesheet', href='assets2/css/flaticon.css')
    link(rel='stylesheet', href='assets2/css/slicknav.css')
    link(rel='stylesheet', href='assets2/css/animate.min.css')
    link(rel='stylesheet', href='assets2/css/magnific-popup.css')
    link(rel='stylesheet', href='assets2/css/fontawesome-all.min.css')
    link(rel='stylesheet', href='assets2/css/themify-icons.css')
    link(rel='stylesheet', href='assets2/css/slick.css')
    link(rel='stylesheet', href='assets2/css/nice-select.css')
    link(rel='stylesheet', href='assets2/css/style.css')

mixin script
    //-link(rel="stylesheet" href="assets/css/bootstrap.min.css")
    script(src='assets2/js/vendor/modernizr-3.5.0.min.js')
    // Jquery, Popper, Bootstrap
    script(src='assets2/js/vendor/jquery-1.12.4.min.js')
    script(src='assets2/js/popper.min.js')
    script(src='assets2/js/bootstrap.min.js')
    // Jquery Mobile Menu
    script(src='assets2/js/jquery.slicknav.min.js')
    // Jquery Slick , Owl-Carousel Plugins
    script(src='assets2/js/owl.carousel.min.js')
    script(src='assets2/js/slick.min.js')
    // Date Picker
    script(src='assets2/js/gijgo.min.js')
    // One Page, Animated-HeadLin
    script(src='assets2/js/wow.min.js')
    script(src='assets2/js/animated.headline.js')
    script(src='assets2/js/jquery.magnific-popup.js')
    // Scrollup, nice-select, sticky
    script(src='assets2/js/jquery.scrollUp.min.js')
    script(src='assets2/js/jquery.nice-select.min.js')
    script(src='assets2/js/jquery.sticky.js')
    // contact js
    script(src='assets2/js/contact.js')
    script(src='assets2/js/jquery.form.js')
    script(src='assets2/js/jquery.validate.min.js')
    script(src='assets2/js/mail-script.js')
    script(src='assets2/js/jquery.ajaxchimp.min.js')
    // Jquery Plugins, main Jquery
    script(src='assets2/js/plugins.js')
    script(src='assets2/js/main.js')

mixin header
    header
      // Header Start
      .header-area
        .main-header
          .header-top.top-bg.d-none.d-lg-block
            .container-fluid
              .col-xl-12
                .row.d-flex.justify-content-between.align-items-center
                  .header-info-left
                    ul
                      li
                        i.fas.fa-map-marker-alt
                        | 65/A Oficina Central, Casa de George
                      li
                        i.fas.fa-envelope
                        | brucce.villena@tecsup.edu.pe
                      li
                        i.fas.fa-envelope
                        | jean.miranda@tecsup.edu.pe
                      li
                        i.fas.fa-envelope
                        | jose.bayton@tecsup.edu.pe

          .header-bottom.header-sticky
            .container-fluid
              .row.align-items-center
                // Logo
                .col-xl-2.col-lg-1.col-md-1
                  .logo
                    a(href='/')
                      img(src='assets2/img/logo/logo.png', alt='')
                .col-xl-8.col-lg-8.col-md-8
                  // Main-menu
                  .main-menu.f-right.d-none.d-lg-block
                    nav
                      ul#navigation
                        li
                          a(href='/') Principal
                        li
                          a(href='/notice') Noticias
                        li
                          a(href='/blog') Blog
                          ul.submenu
                            li
                              a(href='/blog') Blog
                            li
                              a(href='/blogDetails') Blog Details
                        li
                          a(href='#') Pages
                          ul.submenu
                            li
                              a(href='elements.html') Element
                            li
                              a(href='case_details.html') Case Details
                .col-xl-2.col-lg-3.col-md-3
                  .header-right-btn.f-right.d-none.d-lg-block
                    a.btn.header-btn(href='/contactUs') Contactanos
                // Mobile Menu
                .col-12
                  .mobile_menu.d-block.d-lg-none
      // Header End


mixin navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style="width:100%; align-self: flex-start;")
      a.navbar-brand(href='/') Inicio
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/aboutUs') Quienes Somos
          li.nav-item
            a.nav-link(href='/products') Peliculas
          li.nav-item
            a.nav-link(href='/contacts') Contáctanos
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

mixin jumbotron(title, paragraph, textButton)
  .junbotron.mt-3
    h2 #{title}
    p.lead
      | #{paragraph}
    hr.my-4

mixin footer
  footer.page-footer.font-small.blue.bg-dark.mt-4(style="width: 100%; align-self: flex-end; justify-self: end")
    .footer-copyright.text-center.py-3(style="color: #FFF")
      | &copy; 2020 Copyright :
      a.ml-1(href="https://mdbootstrap.com/") Jean Marco Miranda | Brucce Villena | Jose Bayton



