include mixins/general/generalMixins
include mixins/blogMixins

<!DOCTYPE pug>
html(lang="en" style="height: 100%")
  +head
  body
    +header
    main
      +sliderNotice
      section.blog_area.section-padding
        .container
          .row
            +listNotice(movies)
            +postNotice(movies)
    +footer
    +script
