include mixins/general/generalMixins
include mixins/contactUsMixins

<!DOCTYPE pug>
html(lang="en" style="height: 100%")
  +head
  body
    +header
    main
      .container(style="display:flex; flex-wrap: wrap; flex-direction:row; justify-content: space-around")
        +jumbotron("Formulario de Contacto", "Por favor, llene el siguente formulario con sus datos de forma correcta para que alguien de nuestro equipo pueda responderle. Gracias.")
        if errors
          +form(errors, bodyData)
        else
          +form
    +footer
    +script
