include mixins/general/generalMixins
include mixins/indexMixins

<!DOCTYPE pug>
html(lang="en" style="height: 100%")
  +head
  body
    +header
    main
      +sliderIndex(movies)
      +profile(movies)
      +service
      +cases
      .container
        +jumbotron("Ultimas Noticias")
        +mostPopular(movies)
    +footer
    +script
