mixin sliderNotice
    // slider Area Start
    .slider-area
      // Mobile Menu
      .single-slider.slider-height2.d-flex.align-items-center(data-background='assets2/img/hero/Industries_hero.jpg')
        .container
          .row
            .col-xl-12
              .hero-cap.text-center
                h2 Noticias Actuales
    // slider Area End

mixin listNotice(movies)
    .col-lg-8.mb-5.mb-lg-0
     .blog_left_sidebar
      for val in movies
        article.blog_item
          .blog_item_img
            img.card-img.rounded-0(src=val.background_image_original , alt='')
            a.blog_item_date(href='#')
              h3= val.year
              p= val.rating
          .blog_details
            a.d-inline-block(href='/blogDetails')
              h2= val.title
            p
              | #{val.synopsis}
            ul.blog-info-link
              li
                a(href='#')
                  i.fa.fa-user
                  |  #{val.genres}
              li
                a(href='#')
                  i.fa.fa-comments
                  |  #{val.title.length} Comments
              li
                a(href='/blogDetails?id=' + val.id)
                  i.fa.fa-spinner.fa-spin.fa-3x.fa-fw
                  |  Seguir leyendo

mixin postNotice(movies)
    .col-lg-4
      .blog_right_sidebar
        aside.single_sidebar_widget.search_widget
          form(action='#')
            .form-group
              .input-group.mb-3
                input.form-control(type='text', placeholder='Buscar Noticia', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Search Keyword'")
                .input-group-append
                  button.btns(type='button')
                    i.ti-search
            button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Buscar
        aside.single_sidebar_widget.post_category_widget
          h4.widget_title Categorias
          ul.list.cat-list
            for val in movies
                li
                a.d-flex(href='#')
                    p #{val.title_english}
                    p (#{val.title.length})

        aside.single_sidebar_widget.popular_post_widget
          h3.widget_title Recent Post
          .media.post_item
            img(src='assets2/img/post/post_1.png', alt='post')
            .media-body
              a(href='single-blog.html')
                h3 From life was you fish...
              p January 12, 2019
          .media.post_item
            img(src='assets2/img/post/post_2.png', alt='post')
            .media-body
              a(href='single-blog.html')
                h3 The Amazing Hubble
              p 02 Hours ago
          .media.post_item
            img(src='assets2/img/post/post_3.png', alt='post')
            .media-body
              a(href='single-blog.html')
                h3 Astronomy Or Astrology
              p 03 Hours ago
          .media.post_item
            img(src='assets2/img/post/post_4.png', alt='post')
            .media-body
              a(href='single-blog.html')
                h3 Asteroids telescope
              p 01 Hours ago
        aside.single_sidebar_widget.tag_cloud_widget
          h4.widget_title Tag Clouds
          ul.list
            li
              a(href='#') project
            li
              a(href='#') love
            li
              a(href='#') technology
            li
              a(href='#') travel
            li
              a(href='#') restaurant
            li
              a(href='#') life style
            li
              a(href='#') design
            li
              a(href='#') illustration
        aside.single_sidebar_widget.instagram_feeds
          h4.widget_title Instagram Feeds
          ul.instagram_row.flex-wrap
            li
              a(href='#')
                img.img-fluid(src='assets2/img/post/post_5.png', alt='')
            li
              a(href='#')
                img.img-fluid(src='assets2/img/post/post_6.png', alt='')
            li
              a(href='#')
                img.img-fluid(src='assets2/img/post/post_7.png', alt='')
            li
              a(href='#')
                img.img-fluid(src='assets2/img/post/post_8.png', alt='')
            li
              a(href='#')
                img.img-fluid(src='assets2/img/post/post_9.png', alt='')
            li
              a(href='#')
                img.img-fluid(src='assets2/img/post/post_10.png', alt='')
        aside.single_sidebar_widget.newsletter_widget
          h4.widget_title Newsletter
          form(action='#')
            .form-group
              input.form-control(type='email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email'", placeholder='Enter email', required='')
            button.button.rounded-0.primary-bg.text-white.w-100.btn_1.boxed-btn(type='submit') Subscribe
