
mixin sliderNoticeDetails
    // slider Area Start
    .slider-area
      // Mobile Menu
      .single-slider.slider-height2.d-flex.align-items-center(data-background='assets2/img/hero/Industries_hero.jpg')
        .container
          .row
            .col-xl-12
              .hero-cap.text-center
                h2 Detalles de la Noticia
    // slider Area End

mixin noticeDetail(movies, id)
    .col-lg-8.posts-list
      .single-post
        .feature-img
          img.img-fluid(src='assets2/img/blog/single_blog_1.png', alt='')
        .blog_details
          h2
            | #{id}
          ul.blog-info-link.mt-3.mb-4
            li
              a(href='#')
                i.fa.fa-user
                |  Travel, Lifestyle
            li
              a(href='#')
                i.fa.fa-comments
                |  03 Comments
          p.excert
            | MCSE boot camps have its supporters and its detractors. Some people do not understand why you
            | should have to spend money on boot camp when you can get the MCSE study materials yourself at a
            | fraction of the camp price. However, who has the willpower
      .navigation-top
        .d-sm-flex.justify-content-between.text-center
          p.like-info
            span.align-middle
              i.fa.fa-heart
            |  Lily and 4
            |  people like this
      .comments-area
        h4 05 Comments
        .comment-list
          .single-comment.justify-content-between.d-flex
            .user.justify-content-between.d-flex
              .thumb
                img(src='assets2/img/comment/comment_1.png', alt='')
              .desc
                p.comment
                  | Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                  | Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                .d-flex.justify-content-between
                  .d-flex.align-items-center
                    h5
                      a(href='#') Emilly Blunt
                    p.date December 4, 2017 at 3:12 pm
                  .reply-btn
                    a.btn-reply.text-uppercase(href='#') reply
      .comment-form
        h4 Leave a Reply
        form#commentForm.form-contact.comment_form(action='#')
          .row
            .col-12
              .form-group
                textarea#comment.form-control.w-100(name='comment', cols='30', rows='9', placeholder='Write Comment')
            .col-sm-6
              .form-group
                input#name.form-control(name='name', type='text', placeholder='Name')
            .col-sm-6
              .form-group
                input#email.form-control(name='email', type='email', placeholder='Email')
            .col-12
              .form-group
                input#website.form-control(name='website', type='text', placeholder='Website')
          .form-group
            button.button.button-contactForm.btn_1.boxed-btn(type='submit') Send Message


