mixin sliderIndex(movies)
    // slider Area Start
    .slider-area
      // Mobile Menu
      .slider-active
        for val in movies
          .single-slider.slider-height.d-flex.align-items-center(style='background-image: url(' + val.large_cover_image + ')')
            .container
              .row
                .col-xl-6.col-lg-6.col-md-8
                  .hero__caption
                    h1(data-animation='fadeInLeft', data-delay='.4s')= val.title
                    p(data-animation='fadeInLeft', data-delay='.6s')= val.summary
                    // Hero-btn
                    .hero__btn(data-animation='fadeInLeft', data-delay='.8s')
                      a.btn.hero-btn(href='industries.html') Seguir Leyendo

mixin profile(movies)
    // Team-profile Start
    .team-profile.team-padding.section-padding1
      .container
        .row
          each val in movies
            .col-xl-4.col-lg-4.col-md-6
              .single-profile.mb-30
                // Front
                .single-profile-front
                  .profile-img(style='display:flex; flex-wrap: wrap; justify-content: space-around')
                    img(src=val.medium_cover_image, style='width: auto;')
                  .profile-caption
                    h4
                      a(href='#')= val.title
                    p(style='width: auto; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;')
                      | #{val.summary}
          .col-xl-4.col-lg-4.col-md-6
            .single-profile.mb-30
              // Back
              .single-profile-back-last
                h2 What we do for you
                p
                  | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore smod tem magna aliqua. Ut enim.
                a(href='#') View profile »
    // Team-profile End

mixin service
    // services Area Start
    .services-area.section-padding1
      .container
        // section tittle
        .row
          .col-lg-12
            .section-tittle.text-center
              h2 Our Services
        .row
          .col-xl-4.col-lg-4.col-md-6
            .single-services.text-center.mb-30
              .services-icon
                span.flaticon-checklist
              .services-caption
                h4 Strategic Planning
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          .col-xl-4.col-lg-4.col-md-6
            .single-services.text-center.mb-30
              .services-icon
                span.flaticon-audit
              .services-caption
                h4 Trades & stocks
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          .col-xl-4.col-lg-4.col-md-6
            .single-services.text-center.mb-30
              .services-icon
                span.flaticon-checklist-1
              .services-caption
                h4 Audit & Assurance
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        // button
        .row.justify-content-center
          .room-btn.pt-50
            a.border-btn(href='services.html') More Services
    // services Area End

mixin cases
    // Completed Cases Start
    .completed-cases.section-padding3
      .container-fluid
        .row
          // slider Heading
          .col-xl-4.col-lg-4.col-md-8
            .single-cases-info.mb-30
              h3 Completed Cases
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali
                | quUt enim ad minim veniam.
                | quis nostrud exercitation ullamco laboris
                | nierci si ut.
              a.border-btn.border-btn2(href='gallery.html') See more
          // OwL
          .col-xl-8.col-lg-8.col-md-col-md-7
            .completed-active.owl-carousel
              .single-cases-img
                img(src='assets2/img/service/completed_case_1.png', alt='')
                // img hover caption
                .single-cases-cap
                  h4
                    a(href='case_details.html') Marketing Strategy
                  p Completely impact synergistic mindshare whereas premium services.
                  span Advisory
              .single-cases-img
                img(src='assets2/img/service/completed_case_2.png', alt='')
                // img hover caption
                .single-cases-cap
                  h4
                    a(href='case_details.html') Marketing Strategy
                  p Completely impact synergistic mindshare whereas premium services.
                  span Advisory
    // Completed Cases end




mixin myHero
  .card.bg-dark.text-white.mb-5
    img.card-img(src='https://www.larepublica.net/storage/images/2019/01/16/20190116170932.cine.jpg' alt='...')
    .row.card-img-overlay(style="width: 100%;")
      .col-sm-12.col-md-4(style="margin-top:auto; margin-left:auto; margin-bottom: auto; color: #000; text-align: center")
          h3.card-title(style="align-text:justify") Encuentra las mejores peliculas clasicas
          p.card-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquam sint, temporibus quisquam velit sapiente.

mixin mostPopular(movies)
  .row
    each val in movies
      .col-sm-12.col-md-12.col-lg-6.rounded
        .card.mb-3(style='max-width: 540px')
          .row.no-gutters
            .col-md-4(style="height: 100%")
              img.card-img(src=val.medium_cover_image alt='...')
            .col-md-8
              .card-body
                h5.card-title= val.title
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nesciunt vero maiores quis blanditiis accusantium!
                p.card-text
                  h3.text-success= val.rating


