include general/generalMixins

mixin sliderNotice
    // slider Area Start
    .slider-area
      // Mobile Menu
      .single-slider.slider-height2.d-flex.align-items-center(data-background='assets2/img/hero/gallery_hero.jpg')
        .container
          .row
            .col-xl-12
              .hero-cap.text-center
                h2 Noticias mas vistas!
    // slider Area End

mixin containerNotice(movies, genres)
  .completed-cases.section-padding1
    .container
      each genre in genres
        +jumbotron(genre)
        .row(style="display:flex; flex-wrap: wrap; justify-content: space-around")
          each val, index in movies
            each movieGenre in val.genres
              if movieGenre === genre
                .col-xl-4.col-lg-4.col-md-6
                  .single-cases-img.size.mb-30(style='width: 20rem; border-radius: 17px; overflow: hidden')
                    img(src=val.medium_cover_image)
                    // img hover caption
                    .single-cases-cap.single-cases-cap2
                      h4
                        a(href='case_details.html')= val.title_long
                      p Completely impact synergistic  mindshare



mixin productsList(movies, genres)
  each genre in genres
    +jumbotron(genre)
    div(style="display:flex; flex-wrap: wrap; justify-content: space-around")
      each val, index in movies
        each movieGenre in val.genres
          if movieGenre === genre
            .card.mt-4.mb-4(style='width: 20rem; border-radius: 17px; overflow: hidden')
              img.card-img-top(src=val.medium_cover_image)
              .card-body
                .h4.p.card-title= val.title_long
                p.card-text
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus animi enim deserunt? Sequi, veritatis enim minus voluptas ipsam perspiciatis quis vitae animi? Molestiae, vitae. Non assumenda ex ipsa cum.